# Backend ignores
Gitshield_Backend/.venv/
Gitshield_Backend/venv/
Gitshield_Backend/__pycache__/
Gitshield_Backend/.env

# Android Studio Router App ignores
GitShieldRouter/.gradle/
GitShieldRouter/build/
GitShieldRouter/.idea/
GitShieldRouter/local.properties
GitShieldRouter/*.iml
GitShieldRouter/captures/